
@import url("dta4transformation.css");

/*Attribute section*/

/*Show and highlight attributes that are nor allowed anymore and invalid attribute values*/

fw[facs]:after, fw[n]:after{
    background-color:#FAFA93;
    /*oxy_xpath("if(./@n) then '< n' else          (if(./@type='	' and ./@type='sig' and ./@type='catch') then '<invalid attribute value of type' else         (if(./@place='top' and ./@place='bottom') then '<invalid attribute value of place' else none))"),*/
	content:
		oxy_concat("invalide Attribute: ",
			oxy_xpath("if(./@facs) then ' facs' else none"),
			oxy_xpath("if(./@n) then ' n' else none")
			);
}

lg[org]:after, lg[sample]:after, lg[part]:after, lg[subtype]:after, lg[decls]:after, lg[facs]:after{
    background-color:#FAFA93;
    content:
		oxy_concat("invalide Attribute: ",
			oxy_xpath("if(./@org) then ' org' else (     if(./@sample) then ' sample' else (       if(./@part) then ' part' else (       if(./@subtype) then ' subtype' else (     if(./@decls) then ' decls' else none))))"),
			oxy_xpath("if(./@sample) then ' sample' else none"),
			oxy_xpath("if(./@part) then ' part' else none"),
			oxy_xpath("if(./@subtype) then ' subtype' else none"),
			oxy_xpath("if(./@type) then ' type' else none"),
			oxy_xpath("if(./@decls) then ' decls' else none"),
			oxy_xpath("if(./@facs) then ' facs' else none")
			  );
}

div[org]:after, [sample]:after, div[part]:after, div[subtype]:after, div[decls]:after, div[facs]:after{
    background-color:#FAFA93;
    /*oxy_xpath("if(./@org) then ' org' else (     if(./@sample) then ' sample' else (       if(./@part) then ' part' else (       if(./@subtype) then ' subtype' else (     if(./@decls) then ' decls' else (     if(./@type='abbreviation' and ./@type='act' and ./@type=' advertisment' and ./@type=' appendix' and ./@type=' bibliogr' and ./@type=' content' and ./@type=' copyright' and ./@type=' corrigenda' and ./@type=' dedication' and ./@type=' diaryEntry' and ./@type=' edition' and ./@type=' figures' and ./@type=' frontispiece' and ./@type=' imprint' and ./@type=' index' and ./@type=' letter' and ./@type=' listOfFigures' and ./@type=' poem' and ./@type=' preface' and ./@type=' scene') then '<invalid attribute value of type' else none)))))"),*/
    /*oxy_xpath("if(./@org) then ' org' else (     if(./@sample) then ' sample' else (       if(./@part) then ' part' else (       if(./@subtype) then ' subtype' else (     if(./@decls) then ' decls' else (     if(./@type='abbreviation' and ./@type='act' and ./@type=' advertisment' and ./@type=' appendix' and ./@type=' bibliogr' and ./@type=' content' and ./@type=' copyright' and ./@type=' corrigenda' and ./@type=' dedication' and ./@type=' diaryEntry' and ./@type=' edition' and ./@type=' figures' and ./@type=' frontispiece' and ./@type=' imprint' and ./@type=' index' and ./@type=' letter' and ./@type=' listOfFigures' and ./@type=' poem' and ./@type=' preface' and ./@type=' scene') then '<invalid attribute value of type' else none)))))"),*/
	content:
		oxy_concat("invalide Attribute: ",
			oxy_xpath("if(./@org) then ' org' else none"),
			oxy_xpath("if(./@sample) then ' sample' else none"),
			oxy_xpath("if(./@part) then ' part' else none"),
			oxy_xpath("if(./@subtype) then ' subtype' else none"),
			oxy_xpath("if(./@decls) then ' decls' else none"),
			oxy_xpath("if(./@facs) then ' facs' else none")
			  );
}

gap[rend]:after, gap[rendition]:after, gap[extent]:after, gap[agent]:after, gap[evidence]:after, gap[source]:after, gap[instant]:after, gap[hand]:after, gap[n]:after, gap[facs]:after{
    background-color:#FAFA93;
    content:
		oxy_concat("invalide Attribute: ",
			oxy_xpath("if(./@rend) then ' rend' else none"),
			oxy_xpath("if(./@rendition) then ' rendition' else none"),
			oxy_xpath("if(./@extent) then ' extent' else none"),
			oxy_xpath("if(./@agent) then ' agent' else none"),
			oxy_xpath("if(./@evidence) then ' evidence' else none"),
			oxy_xpath("if(./@source) then ' source' else none"),
			oxy_xpath("if(./@instant) then ' instant' else none"),
			oxy_xpath("if(./@hand) then ' hand' else none"),
			oxy_xpath("if(./@n) then ' n' else none"),
			oxy_xpath("if(./@facs) then ' facs' else none")
			  );

    /*oxy_xpath("if(./@unit='chars' and ./@unit='lines' and ./@unit=' pages' and ./@unit='words') then '<invalid attribute value of unit' else none"),*/
}

abbr[type]:after, abbr[cert]:after, abbr[n]:after, abbr[resp]:after, abbr[facs]:after{
    background-color:#FAFA93;
    content:
		oxy_concat("invalide Attribute: ",
			oxy_xpath("if(./@type) then ' type' else none"),
			oxy_xpath("if(./@cert) then ' cert' else none"),
			oxy_xpath("if(./@n) then ' n' else none"),
			oxy_xpath("if(./@resp) then ' resp' else none"),
			oxy_xpath("if(./@facs) then ' facs' else none")
			  );
}

expan[n]:after, expan[evidence]:after, expan[source]:after, expan[instant]:after, expan[facs]:after{
    background-color:#FAFA93;
	content:
		oxy_concat("invalide Attribute: ",
			oxy_xpath("if(./@n) then ' n' else none"),
			oxy_xpath("if(./@evidence) then ' evidence' else none"),
			oxy_xpath("if(./@source) then ' source' else none"),
			oxy_xpath("if(./@instant) then ' instant' else none"),
			oxy_xpath("if(./@facs) then ' facs' else none")
			);
}

author[role]:after, author[nymref]:after, author[n]:after, author[facs]:after{
    background-color:#FAFA93;
    content:
		oxy_concat("invalide Attribute: ",
			oxy_xpath("if(./@role) then ' role' else none"),
			oxy_xpath("if(./@nymref) then ' nymref' else none"),
			oxy_xpath("if(./@n) then ' n' else none"),
			oxy_xpath("if(./@facs) then ' facs' else none")
			  );
}

bibl[default]:after, bibl[type]:after, bibl[subtype]:after, bibl[sortkey]:after, bibl[n]:after, bibl[facs]:after{
    background-color:#FAFA93;
    content:
		oxy_concat("invalide Attribute: ",
			oxy_xpath("if(./@default) then ' default' else none"),
			oxy_xpath("if(./@type) then ' type' else none"),
			oxy_xpath("if(./@subtype) then ' subtype' else none"),
			oxy_xpath("if(./@sortKey) then ' sortKey' else none"),
			oxy_xpath("if(./@n) then ' n' else none"),
			oxy_xpath("if(./@facs) then ' facs' else none")
			  );
}

cb[subtype]:after, cb[ed]:after, cb[spanTo]:after, cb[breaks]:after, cb[facs]:after{
    background-color:#FAFA93;
    content:
		oxy_concat("invalide Attribute: ",
		    oxy_xpath("if(./@subtype) then ' subtype' else none"),
			oxy_xpath("if(./@ed) then ' ed' else none"),
			oxy_xpath("if(./@spanTo) then ' spanTo' else none"),
			oxy_xpath("if(./@break) then ' break' else none"),
			oxy_xpath("if(./@facs) then ' facs' else none")
			  );
}

cit[subtype]:after, cit[n]:after, cit[facs]:after{
    background-color:#FAFA93;
    content:
		oxy_concat("invalide Attribute: ",
			oxy_xpath("if(./@subtype) then ' subtype' else none"),
			oxy_xpath("if(./@n) then ' n' else none"),
			oxy_xpath("if(./@facs) then ' facs' else none")
			  );
}

corr[evidence]:after, corr[source]:after, corr[instant]:after, corr[type]:after, corr[subtype]:after, corr[n]:after, corr[facs]:after{
    background-color:#FAFA93;
    content:
		oxy_concat("invalide Attribute: ",
		    oxy_xpath("if(./@evidence) then ' evidence' else none"),
			oxy_xpath("if(./@source) then ' source' else none"),
			oxy_xpath("if(./@instant) then ' instant' else none"),
			oxy_xpath("if(./@type) then ' type' else none"),
			oxy_xpath("if(./@subtype) then ' subtype' else none"),
			oxy_xpath("if(./@n) then ' n' else none"),
			oxy_xpath("if(./@facs) then ' facs' else none")
			  );
}

date[calendar]:after, date[period]:after, date[evidence]:after, date[source]:after, date[instant]:after, date[type]:after, date[subtype]:after, date[n]:after, date[facs]:after{
    background-color:#FAFA93;
    content:
		oxy_concat("invalide Attribute: ",
		    oxy_xpath("if(./@calendar) then ' calendar' else none"),
			oxy_xpath("if(./@period) then ' period' else none"),
			oxy_xpath("if(./@evidence) then ' evidence' else none"),
			oxy_xpath("if(./@source) then ' source' else none"),
			oxy_xpath("if(./@instant) then ' instant' else none"),
			oxy_xpath("if(./@type) then ' type' else none"),
			oxy_xpath("if(./@subtype) then ' subtype' else none"),
			oxy_xpath("if(./@n) then ' n' else none"),
			oxy_xpath("if(./@facs) then ' facs' else none")
			  );
}

head[type]:after, head[subtype]:after, head[n]:after, head[facs]:after{
    background-color:#FAFA93;
    content:
		oxy_concat("invalide Attribute: ",
		    oxy_xpath("if(./@type) then ' type' else none"),
			oxy_xpath("if(./@subtype) then ' subtype' else none"),
			oxy_xpath("if(./@n) then ' n' else none"),
			oxy_xpath("if(./@facs) then ' facs' else none")
			  );
}

hi[corresp]:after, hi[facs]:after, hi[n]:after, hi[next]:after, hi[prev]:after, hi[rend]:after, hi[xml\:lang]:after, hi[xml\:id]:after {
    background-color:#FAFA93;
    content:
		oxy_concat("invalide Attribute: ",
			oxy_xpath("if(./@corresp) then ' corresp' else none"),
			oxy_xpath("if(./@facs) then ' facs' else none")
		    oxy_xpath("if(./@n) then ' n' else none"),
			oxy_xpath("if(./@next) then ' next' else none"),
		    oxy_xpath("if(./@prev) then ' prev' else none"),
			oxy_xpath("if(./@rend) then ' rend' else none"),
			oxy_xpath("if(./@xml\:id) then ' xml:id' else none"),
			oxy_xpath("if(./@xml\:lang) then ' xml:lang' else none")
			  );
}

item[sortKey]:after, item[n]:after, item[facs]:after{
    background-color:#FAFA93;
    content:
		oxy_concat("invalide Attribute: ",
		    oxy_xpath("if(./@sortKey) then ' sortKey' else none"),
			oxy_xpath("if(./@n) then ' n' else none"),
			oxy_xpath("if(./@facs) then ' facs' else none")
			  );
}

l[enjamb]:after, l[facs]:after, l[met]:after, l[part]:after, l[real]:after,  l[rend]:after, l[rhyme]:after{
    background-color:#FAFA93;
    content:
		oxy_concat("invalide Attribute: ",
			oxy_xpath("if(./@enjamb) then ' enjamb' else none"),
			oxy_xpath("if(./@facs) then ' facs' else none"),
			oxy_xpath("if(./@met) then ' met' else none"),
			oxy_xpath("if(./@part) then ' part' else none"),
		    oxy_xpath("if(./@real) then ' real' else none"),
			oxy_xpath("if(./@rend) then ' rend' else none"),
			oxy_xpath("if(./@rhyme) then ' rhyme' else none")
			  );
}

lb[type]:after, lb[subtype]:after, lb[ed]:after, lb[spanTo]:after, lb[break]:after, lb[xml_lang]:after, lb[rend]:after, lb[rendition]:after, lb[facs]:after{
    background-color:#FAFA93;
    content:
		oxy_concat("invalide Attribute: ",
		    oxy_xpath("if(./@type) then ' type' else none"),
			oxy_xpath("if(./@subtype) then ' subtype' else none"),
			oxy_xpath("if(./@ed) then ' ed' else none"),
			oxy_xpath("if(./@spanTo) then ' spanTo' else none"),
			oxy_xpath("if(./@break) then ' break' else none"),
			oxy_xpath("if(./@xml_lang) then ' xml_lang' else none"),
			oxy_xpath("if(./@rend) then ' rend' else none"),
			oxy_xpath("if(./@rendition) then ' rendition' else none"),
			oxy_xpath("if(./@facs) then ' facs' else none")
			  );
}

list[type]:after, list[n]:after, list[sortKey]:after, list[facs]:after{
    background-color:#FAFA93;
    content:
		oxy_concat("invalide Attribute: ",
			oxy_xpath("if(./@type) then ' type' else none"),
			oxy_xpath("if(./@n) then ' n' else none"),
			oxy_xpath("if(./@sortKey) then ' sortKey' else none"),
			oxy_xpath("if(./@facs) then ' facs' else none")
			  );
}

milestone[type]:after, milestone[subtype]:after, milestone[ed]:after, milestone[spantTo]:after, milestone[break]:after, milestone[n]:after, milestone[n]:after, milestone[xml_lang]:after, milestone[rend]:after, milestone[facs]:after{
    background-color:#FAFA93;
    content:
		oxy_concat("invalide Attribute: ",
		    oxy_xpath("if(./@type) then ' type' else none"),
			oxy_xpath("if(./@subtype) then ' subtype' else none"),
			oxy_xpath("if(./@ed) then ' ed' else none"),
			oxy_xpath("if(./@spanTo) then ' spanTo' else none"),
			oxy_xpath("if(./@break) then ' break' else none"),
			oxy_xpath("if(./@n) then ' n' else none"),
			oxy_xpath("if(./@xml_lang) then ' xml_lang' else none"),
			oxy_xpath("if(./@rend) then ' rend' else none"),
			oxy_xpath("if(./@facs) then ' facs' else none")
   
    /*oxy_xpath("if(./@unit='section') then '<invalid attribute value of unit' else none"),
    oxy_xpath("if(./@rendition='#hr') then '<invalid attribute value of rendition' else none"),*/
			  );
}

name[role]:after, name[nymRef]:after, name[subtype]:after, name[n]:after, name[facs]:after{
    background-color:#FAFA93;
    content:
		oxy_concat("invalide Attribute: ",
		    oxy_xpath("if(./@role) then ' role' else none"),
			oxy_xpath("if(./@nymRef) then ' nymRef' else none"),
			oxy_xpath("if(./@subtype) then ' subtype' else none"),
			oxy_xpath("if(./@n) then ' n' else none"),
			oxy_xpath("if(./@facs) then ' facs' else none")
			  );
}

note[anchored]:after , note[targetEnd]:after , note[target]:after , note[evaluate]:after , note[cert]:after , note[resp]:after , note[subtype]:after , note[facs]:after {
    background-color:#FAFA93;
    content:
		oxy_concat("invalide Attribute: ",
		    oxy_xpath("if(./@anchored) then ' anchored' else none"),
			oxy_xpath("if(./@targetEnd) then ' targetEnd' else none"),
			oxy_xpath("if(./@target) then ' target' else none"),
			oxy_xpath("if(./@evaluate) then ' evaluate' else none"),
			oxy_xpath("if(./@cert) then ' cert' else none"),
			oxy_xpath("if(./@resp) then ' resp' else none"),
			oxy_xpath("if(./@style) then ' style' else none"),
			oxy_xpath("if(./@subtype) then ' subtype' else none"),
			oxy_xpath("if(./@facs) then ' facs' else none")
    
    /*oxy_xpath("if(./@place='left' or ./@place=' right' or ./@place=' foot' or ./@place='end') then '<invalid attribute value of place' else none"),*/

			  );
}

orig[cert]:after , orig[resp]:after , orig[n]:after , orig[facs]:after {
    background-color:#FAFA93;
    content:
		oxy_concat("invalide Attribute: ",
		    oxy_xpath("if(./@cert) then ' cert' else none"),
			oxy_xpath("if(./@resp) then ' resp' else none"),
			oxy_xpath("if(./@n) then ' n' else none"),
			oxy_xpath("if(./@facs) then ' facs' else none")
			  );
}

p[decls]:after , p[n]:after , p[facs]:after {
    background-color:#FAFA93;
    content:
		oxy_concat("invalide Attribute: ",
		    oxy_xpath("if(./@decls) then ' decls' else none"),
			oxy_xpath("if(./@n) then ' n' else none"),
			oxy_xpath("if(./@facs) then ' facs' else none")
			  );
}

pb[type]:after , pb[subtype]:after , pb[ed]:after , pb[spanTo]:after , pb[break]:after , pb[xml_lang]:after , pb[rend]:after , pb[rendition]:after {
    background-color:#FAFA93;
    content:
		oxy_concat("invalide Attribute: ",
		    oxy_xpath("if(./@type) then ' type' else none"),
			oxy_xpath("if(./@subtype) then ' subtype' else none"),
			oxy_xpath("if(./@ed) then ' ed' else none"),
			oxy_xpath("if(./@spanTo) then ' spanTo' else none"),
			oxy_xpath("if(./@break) then ' break' else none"),
			oxy_xpath("if(./@xml_lang) then ' xml_lang' else none"),
			oxy_xpath("if(./@rend) then ' rend' else none"),
			oxy_xpath("if(./@rendition) then ' rendition' else none")
			  );
}

quote[type]:after , quote[subtype]:after , quote[defective]:after , quote[n]:after , quote[facs]:after {
    background-color:#FAFA93;
    content:
		oxy_concat("invalide Attribute: ",
		    oxy_xpath("if(./@type) then ' type' else none"),
			oxy_xpath("if(./@subtype) then ' subtype' else none"),
			oxy_xpath("if(./@defective) then ' defective' else none"),
			oxy_xpath("if(./@n) then ' n' else none"),
			oxy_xpath("if(./@facs) then ' facs' else none")
			  );
}

ref[type]:after , ref[cRef]:after , ref[n]:after , ref[xml_lang]:after , ref[evaluate]:after, ref[mimeType]:after , ref[subtype]:after , ref[decls]:after , ref[facs]:after {
    background-color:#FAFA93;
    content:
		oxy_concat("invalide Attribute: ",
		    oxy_xpath("if(./@type) then ' type' else none"),
			oxy_xpath("if(./@cRef) then ' cRef' else none"),
			oxy_xpath("if(./@n) then ' n' else none"),
			oxy_xpath("if(./@xml_lang) then ' xml_lang' else none"),
			oxy_xpath("if(./@evaluate) then ' evaluate' else none"),
			oxy_xpath("if(./@mimeType) then ' mimeType' else none"),
			oxy_xpath("if(./@subtype) then ' subtype' else none"),
			oxy_xpath("if(./@decls) then ' decls' else none"),
			oxy_xpath("if(./@facs) then ' facs' else none")
			  );
}

reg[type]:after , reg[n]:after , reg[evidence]:after , reg[source]:after , reg[instant]:after , reg[subtype]:after , reg[facs]:after {
    background-color:#FAFA93;
    content:
		oxy_concat("invalide Attribute: ",
		    oxy_xpath("if(./@type) then ' type' else none"),
			oxy_xpath("if(./@n) then ' n' else none"),
			oxy_xpath("if(./@evidence) then 'invalid evidence: evaluate' else none"),
			oxy_xpath("if(./@source) then ' source' else none"),
			oxy_xpath("if(./@instant) then ' instant' else none"),
			oxy_xpath("if(./@subtype) then ' subtype' else none"),
			oxy_xpath("if(./@facs) then ' facs' else none")
			  );
}

stage[type]:after , stage[n]:after , stage[facs]:after {
    background-color:#FAFA93;
    content:
		oxy_concat("invalide Attribute: ",
		    oxy_xpath("if(./@type) then ' type' else none"),
			oxy_xpath("if(./@n) then ' n' else none"),
			oxy_xpath("if(./@facs) then ' facs' else none")
			  );
}

/* HEADER - Element
title[type]:after, title[level]:after, title[n]:after, title[key]:after, title[ref]:after, title[facs]:after{
    background-color:#FAFA93;
	content:
		oxy_concat("invalide Attribute: ",
			oxy_xpath("if(./@type) then ' type' else none"),
			oxy_xpath("if(./@level) then ' level' else none"),
			oxy_xpath("if(./@n) then ' n' else none"),
			oxy_xpath("if(./@key) then ' key' else none"),
			oxy_xpath("if(./@ref) then ' ref' else none"),
			oxy_xpath("if(./@facs) then ' facs' else none")
			  );
}*/

docDate[when]:after , docDate[n]:after , docDate[facs]:after {
    background-color:#FAFA93;
    content:
		oxy_concat("invalide Attribute: ",
		    oxy_xpath("if(./@when) then ' when' else none"),
			oxy_xpath("if(./@n) then ' n' else none"),
			oxy_xpath("if(./@facs) then ' facs' else none")
			  );
}

floatingText[type]:after , floatingText[n]:after , floatingText[decls]:after , floatingText[subtype]:after , floatingText[facs]:after {
    background-color:#FAFA93;
    content:
		oxy_concat("invalide Attribute: ",
			oxy_xpath("if(./@type) then ' type' else none"),
			oxy_xpath("if(./@n) then ' n' else none"),
			oxy_xpath("if(./@decls) then ' decls' else none"),
			oxy_xpath("if(./@subtype) then ' subtype' else none"),
			oxy_xpath("if(./@facs) then ' facs' else none")
			  );
}

postscript[n]:after , postscript[facs]:after {
    background-color:#FAFA93;
    content:
		oxy_concat("invalide Attribute: ",
		    oxy_xpath("if(./@n) then ' n' else none"),
			oxy_xpath("if(./@facs) then ' facs' else none")
			  );
}

salute[n]:after , salute[facs]:after {
    background-color:#FAFA93;
    content:
		oxy_concat("invalide Attribute: ",
		    oxy_xpath("if(./@n) then ' n' else none"),
			oxy_xpath("if(./@facs) then ' facs' else none")
			  );
}

text[type]:after , text[n]:after , text[xml_lang]:after , text[rend]:after , text[rendition]:after , text[decls]:after , text[subtype]:after , text[facs]:after {
    background-color:#FAFA93;
    content:
		oxy_concat("invalide Attribute: ",
		   oxy_xpath("if(./@type) then ' type' else none"),
			oxy_xpath("if(./@n) then ' n' else none"),
			oxy_xpath("if(./@xml_lang) then ' xml_lang' else none"),
			oxy_xpath("if(./@rend) then ' rend' else none"),
			oxy_xpath("if(./@rendition) then ' rendition' else none"),
			oxy_xpath("if(./@decls) then ' decls' else none"),
			oxy_xpath("if(./@subtype) then ' subtype' else none"),
			oxy_xpath("if(./@facs) then ' facs' else none")
			  );
}

titlePage[n]:after , titlePage[facs]:after {
    background-color:#FAFA93;
    content:
		oxy_concat("invalide Attribute: ",
		    oxy_xpath("if(./@n) then ' n' else none"),
			oxy_xpath("if(./@facs) then ' facs' else none")
			  );
}

titlePart[n]:after , titlePart[facs]:after {
    background-color:#FAFA93;
    content:
		oxy_concat("invalide Attribute: ",
		    oxy_xpath("if(./@n) then ' n' else none"),
			oxy_xpath("if(./@facs) then ' facs' else none")
			  );
}

castItem[type]:after , castItem[n]:after , castItem[facs]:after {
    background-color:#FAFA93;
    content:
		oxy_concat("invalide Attribute: ",
		    oxy_xpath("if(./@type) then ' type' else none"),
			oxy_xpath("if(./@n) then ' n' else none"),
			oxy_xpath("if(./@facs) then ' facs' else none")
			  );
}

figure[place]:after , figure[n]:after , figure[subtype]:after {
    background-color:#FAFA93;
    content:
		oxy_concat("invalide Attribute: ",
		    oxy_xpath("if(./@place) then ' place' else none"),
			oxy_xpath("if(./@n) then ' n' else none"),
			oxy_xpath("if(./@subtype) then ' subtype' else none")
			  );
}

formula[n]:after , formula[facs]:after {
    background-color:#FAFA93;
    content:
		oxy_concat("invalide Attribute: ",
		    oxy_xpath("if(./@n) then ' n' else none"),
			oxy_xpath("if(./@facs) then ' facs' else none")
			  );
}

space[resp]:after , space[quantity]:after, space[extent]:after , space[n]:after , space[xml_lang]:after , space[rend]:after , space[rendition]:after , space[scope]:after , space[facs]:after {
    background-color:#FAFA93;
    content:
		oxy_concat("invalide Attribute: ",
			oxy_xpath("if(./@resp) then ' resp' else none"),
			oxy_xpath("if(./@quantity) then ' quantity' else none"),
			oxy_xpath("if(./@extent) then ' extent' else none"),
			oxy_xpath("if(./@n) then ' n' else none"),
			oxy_xpath("if(./@xml_lang) then ' xml_lang' else none"),
			oxy_xpath("if(./@rend) then ' rend' else none"),
			oxy_xpath("if(./@rendition) then ' rendition' else none"),
			oxy_xpath("if(./@precision) then ' precision' else none"),
			oxy_xpath("if(./@scope) then ' scope' else none"),
			oxy_xpath("if(./@facs) then ' facs' else none")
			  );
}

supplied[reason]:after , supplied[n]:after , supplied[evidence]:after, supplied[extent]:after , supplied[source]:after , supplied[instant]:after , supplied[rend]:after , supplied[facs]:after , supplied[quantity]:after, supplied[unit]:after{
    background-color:#FAFA93;
    content:
		oxy_concat("invalide Attribute: ",
		    oxy_xpath("if(./@reason) then ' reason' else none"),
			oxy_xpath("if(./@n) then ' n' else none"),
			oxy_xpath("if(./@evidence) then 'invalid evidence: evaluate' else none"),
			oxy_xpath("if(./@extent) then ' extent' else none"),
			oxy_xpath("if(./@source) then ' source' else none"),
			oxy_xpath("if(./@instant) then ' instant' else none"),
			oxy_xpath("if(./@rend) then ' rend' else none"),
			oxy_xpath("if(./@facs) then ' facs' else none"),
			oxy_xpath("if(./@quantity) then ' quantity' else none"),
			oxy_xpath("if(./@unit) then ' unit' else none")
			  );
}

pubPlace[role]:after, pubPlace[nymRef]:after, pubPlace[n]:after, pubPlace[facs]:after{
    background-color:#FAFA93;
    content:
		oxy_concat("invalide Attribute: ",
		    oxy_xpath("if(./@role) then ' role' else none"),
			oxy_xpath("if(./@nymRef) then ' nymRef' else none"),
			oxy_xpath("if(./@n) then ' n' else none"),
			oxy_xpath("if(./@facs) then ' facs' else none")
			  );
}

choice[n]:after, choice[xml_lang]:after, choice[facs]:after{
    background-color:#FAFA93;
    content:
		oxy_concat("invalide Attribute: ",
		    oxy_xpath("if(./@n) then ' n' else none"),
			oxy_xpath("if(./@xml_lang) then ' xml_lang' else none"),
			oxy_xpath("if(./@facs) then ' facs' else none")
			  );
}

foreign[n]:after, foreign[facs]:after, foreign[xml_lang]:after{
    background-color:#FAFA93;
    content:
		oxy_concat("invalide Attribute: ",
		    oxy_xpath("if(./@n) then ' n' else none"),
			oxy_xpath("if(./@facs) then ' facs' else none"),
			oxy_xpath("if(./@xml_lang) then ' xml_lang' else none")
			  );
}

publisher[n]:after, publisher[facs]:after{
    background-color:#FAFA93;
     content:
		oxy_concat("invalide Attribute: ",
			oxy_xpath("if(./@n) then ' n' else none"),
			oxy_xpath("if(./@facs) then ' facs' else none")
			  );
}

sic[n]:after, sic[cert]:after, sic[resp]:after, sic[facs]:after{
    background-color:#FAFA93;
    content:
		oxy_concat("invalide Attribute: ",
		    oxy_xpath("if(./@n) then ' n' else none"),
			oxy_xpath("if(./@cert) then ' cert' else none"),
			oxy_xpath("if(./@resp) then ' resp' else none"),
			oxy_xpath("if(./@facs) then ' facs' else none")
			  );
}

sp[n]:after, sp[facs]:after{
    background-color:#FAFA93;
    content:
		oxy_concat("invalide Attribute: ",
		    oxy_xpath("if(./@n) then ' n' else none"),
			oxy_xpath("if(./@facs) then ' facs' else none")
			  );
}

speaker[n]:after, speaker[facs]:after{
    background-color:#FAFA93;
    content:
		oxy_concat("invalide Attribute: ",
		    oxy_xpath("if(./@n) then ' n' else none"),
			oxy_xpath("if(./@facs) then ' facs' else none")
			  );
}

argument[n]:after, argument[facs]:after{
    background-color:#FAFA93;
    content:
		oxy_concat("invalide Attribute: ",
		    oxy_xpath("if(./@n) then ' n' else none"),
			oxy_xpath("if(./@facs) then ' facs' else none")
			  );
}

back[n]:after, back[xml_lang]:after, back[rend]:after, back[rendition]:after, back[decls]:after, back[facs]:after{
    background-color:#FAFA93;
    content:
		oxy_concat("invalide Attribute: ",
		    oxy_xpath("if(./@n) then ' n' else none"),
			oxy_xpath("if(./@xml_lang) then ' xml_lang' else none"),
			oxy_xpath("if(./@rend) then ' rend' else none"),
			oxy_xpath("if(./@rendition) then ' rendition' else none"),
			oxy_xpath("if(./@decls) then ' decls' else none"),
			oxy_xpath("if(./@facs) then ' facs' else none")
			  );
}

body[n]:after, body[xml_lang]:after, body[rend]:after, body[rendition]:after, body[decls]:after, body[facs]:after{
    background-color:#FAFA93;
    content:
		oxy_concat("invalide Attribute: ",
		    oxy_xpath("if(./@n) then ' n' else none"),
			oxy_xpath("if(./@xml_lang) then ' xml_lang' else none"),
			oxy_xpath("if(./@rend) then ' rend' else none"),
			oxy_xpath("if(./@rendition) then ' rendition' else none"),
			oxy_xpath("if(./@decls) then ' decls' else none"),
			oxy_xpath("if(./@facs) then ' facs' else none")
			  );
}

byline[n]:after, byline[facs]:after{
    background-color:#FAFA93;
    content:
		oxy_concat("invalide Attribute: ",
		    oxy_xpath("if(./@n) then ' n' else none"),
			oxy_xpath("if(./@facs) then ' facs' else none")
			  );
}

closer[n]:after, closer[facs]:after{
    background-color:#FAFA93;
    content:
		oxy_concat("invalide Attribute: ",
			oxy_xpath("if(./@n) then ' n' else none"),
			oxy_xpath("if(./@facs) then ' facs' else none")
			  );
}

dateline[n]:after, dateline[facs]:after{
    background-color:#FAFA93;
    content:
		oxy_concat("invalide Attribute: ",
		    oxy_xpath("if(./@n) then ' n' else none"),
			oxy_xpath("if(./@facs) then ' facs' else none")
			  );
}

docAuthor[n]:after, docAuthor[key]:after, docAuthor[ref]:after, docAuthor[facs]:after{
    background-color:#FAFA93;
    content:
		oxy_concat("invalide Attribute: ",
		    oxy_xpath("if(./@n) then ' n' else none"),
			oxy_xpath("if(./@key) then ' key' else none"),
			oxy_xpath("if(./@ref) then ' ref' else none"),
			oxy_xpath("if(./@facs) then ' facs' else none")
			  );
}

docEdition[n]:after, docEdition[facs]:after{
    background-color:#FAFA93;
    content:
		oxy_concat("invalide Attribute: ",
		    oxy_xpath("if(./@n) then ' n' else none"),
			oxy_xpath("if(./@facs) then ' facs' else none")
			  );
}

docImprint[n]:after, docImprint[facs]:after{
    background-color:#FAFA93;
    content:
		oxy_concat("invalide Attribute: ",
		    oxy_xpath("if(./@n) then ' n' else none"),
			oxy_xpath("if(./@facs) then ' facs' else none")
			  );
}

docTitle[n]:after, docTitle[key]:after, docTitle[ref]:after, docTitle[facs]:after{
    background-color:#FAFA93;
    content:
		oxy_concat("invalide Attribute: ",
		    oxy_xpath("if(./@n) then ' n' else none"),
			oxy_xpath("if(./@key) then ' key' else none"),
			oxy_xpath("if(./@ref) then ' ref' else none"),
			oxy_xpath("if(./@facs) then ' facs' else none")
			  );
}

epigraph[n]:after, epigraph[facs]:after{
    background-color:#FAFA93;
    content:
		oxy_concat("invalide Attribute: ",
		    oxy_xpath("if(./@n) then ' n' else none"),
			oxy_xpath("if(./@facs) then ' facs' else none")
			  );
}

front[n]:after, front[xml_lang]:after, front[rend]:after, front[rendition]:after, front[decls]:after, front[facs]:after{
    background-color:#FAFA93;
    content:
		oxy_concat("invalide Attribute: ",
		    oxy_xpath("if(./@n) then ' n' else none"),
			oxy_xpath("if(./@xml_lang) then ' xml_lang' else none"),
			oxy_xpath("if(./@rend) then ' rend' else none"),
			oxy_xpath("if(./@rendition) then ' rendition' else none"),
			oxy_xpath("if(./@decls) then ' decls' else none"),
			oxy_xpath("if(./@facs) then ' facs' else none")
			  );
}

imprimatur[n]:after, imprimatur[facs]:after{
    background-color:#FAFA93;
    content:
		oxy_concat("invalide Attribute: ",
		    oxy_xpath("if(./@n) then ' n' else none"),
			oxy_xpath("if(./@facs) then ' facs' else none")
			  );
}

opener[n]:after, opener[facs]:after{
    background-color:#FAFA93;
    content:
		oxy_concat("invalide Attribute: ",
		    oxy_xpath("if(./@n) then ' n' else none"),
			oxy_xpath("if(./@facs) then ' facs' else none")
			  );
}

signed[n]:after, signed[facs]:after{
    background-color:#FAFA93;
    content:
		oxy_concat("invalide Attribute: ",
		    oxy_xpath("if(./@n) then ' n' else none"),
			oxy_xpath("if(./@facs) then ' facs' else none")
			  );
}

trailer[n]:after, trailer[facs]:after, trailer[subtype]:after, trailer[type]:after{
    background-color:#FAFA93;
    content:
		oxy_concat("invalide Attribute: ",
		    oxy_xpath("if(./@n) then ' n' else none"),
			oxy_xpath("if(./@facs) then ' facs' else none")
			oxy_xpath("if(./@subtype) then ' facs' else none")
			oxy_xpath("if(./@type) then ' facs' else none")
			  );
}

actor[n]:after, actor[facs]:after{
    background-color:#FAFA93;
    content:
		oxy_concat("invalide Attribute: ",
		    oxy_xpath("if(./@n) then ' n' else none"),
			oxy_xpath("if(./@facs) then ' facs' else none")
			  );
}

castGroup[n]:after, castGroup[facs]:after{
    background-color:#FAFA93;
    content:
		oxy_concat("invalide Attribute: ",
		    oxy_xpath("if(./@n) then ' n' else none"),
			oxy_xpath("if(./@facs) then ' facs' else none")
			  );
}

castList[n]:after, castList[facs]:after{
    background-color:#FAFA93;
    content:
		oxy_concat("invalide Attribute: ",
		    oxy_xpath("if(./@n) then ' n' else none"),
			oxy_xpath("if(./@facs) then ' facs' else none")
			  );
}

role[n]:after, role[facs]:after{
    background-color:#FAFA93;
    content:
		oxy_concat("invalide Attribute: ",
		    oxy_xpath("if(./@n) then ' n' else none"),
			oxy_xpath("if(./@facs) then ' facs' else none")
			  );
}

roleDesc[n]:after, roleDesc[facs]:after{
    background-color:#FAFA93;
    content:
		oxy_concat("invalide Attribute: ",
		    oxy_xpath("if(./@n) then ' n' else none"),
			oxy_xpath("if(./@facs) then ' facs' else none")
			  );
}

cell[n]:after, cell[role]:after, cell[facs]:after{
    background-color:#FAFA93;
    content:
		oxy_concat("invalide Attribute: ",
		    oxy_xpath("if(./@n) then ' n' else none"),
			oxy_xpath("if(./@role) then ' role' else none"),
			oxy_xpath("if(./@facs) then ' facs' else none")
			  );
}

row[role]:after, row[rows]:after ,row[cols]:after, row[n]:after , row[facs]:after{
    background-color:#FAFA93;
    content:
		oxy_concat("invalide Attribute: ",
			oxy_xpath("if(./@role) then ' role' else none"),
			oxy_xpath("if(./@rows) then ' rows' else none"),
			oxy_xpath("if(./@cols) then ' cols' else none"),
		    oxy_xpath("if(./@n) then ' n' else none"),
			oxy_xpath("if(./@facs) then ' facs' else none")
			  );
}

table[rows]:after, table[cols]:after, table[n]:after, table[facs]:after{
    background-color:#FAFA93;
    content:
		oxy_concat("invalide Attribute: ",
		    oxy_xpath("if(./@rows) then ' rows' else none"),
			oxy_xpath("if(./@cols) then ' cols' else none"),
			oxy_xpath("if(./@n) then ' n' else none"),
			oxy_xpath("if(./@facs) then ' facs' else none")
			  );
}

TEI[n]:after, TEI[xml_lang]:after, TEI[rend]:after, TEI[rendition]:after, TEI[facs]:after{
    background-color:#FAFA93;
    content:
		oxy_concat("invalide Attribute: ",
		    oxy_xpath("if(./@n) then ' n' else none"),
			oxy_xpath("if(./@xml_lang) then ' xml_lang' else none"),
			oxy_xpath("if(./@rend) then ' rend' else none"),
			oxy_xpath("if(./@rendition) then ' rendition' else none"),
			oxy_xpath("if(./@facs) then ' facs' else none")
			  );
}

listBibl[sortKey]:after, listBibl[default]:after, listBibl[type]:after, listBibl[subtype]:after, listBibl[n]:after, listBibl[facs]:after{
    background-color:#FAFA93;
    content:
		oxy_concat("invalide Attribute: ",
		    oxy_xpath("if(./@sortKey) then ' sortKey' else none"),
			oxy_xpath("if(./@default) then ' default' else none"),
			oxy_xpath("if(./@type) then ' type' else none"),
			oxy_xpath("if(./@subtype) then ' subtype' else none"),
			oxy_xpath("if(./@n) then ' n' else none"),
			oxy_xpath("if(./@facs) then ' facs' else none")
			  );
}

orgName[n]:after, orgName[calendar]:after, orgName[period]:after, orgName[evidence]:after, orgName[source]:after, orgName[instant]:after, orgName[full]:after, orgName[sort]:after, orgName[type]:after, orgName[subtype]:after, orgName[facs]:after{
    background-color:#FAFA93;
    content:
		oxy_concat("invalide Attribute: ",
			oxy_xpath("if(./@calendar) then ' calendar' else none"),
			oxy_xpath("if(./@evidence) then ' evidence' else none"),
			oxy_xpath("if(./@full) then ' full' else none"),
			oxy_xpath("if(./@instant) then ' instant' else none"),
		    oxy_xpath("if(./@n) then ' n' else none"),
			oxy_xpath("if(./@period) then ' period' else none"),
			oxy_xpath("if(./@sort) then ' sort' else none"),
			oxy_xpath("if(./@source) then ' source' else none"),
			oxy_xpath("if(./@subtype) then ' subtype' else none"),
			oxy_xpath("if(./@type) then ' type' else none"),
			oxy_xpath("if(./@facs) then ' facs' else none")
			  );
}

persName[n]:after, persName[calendar]:after, persName[period]:after, persName[evidence]:after, persName[source]:after, persName[instant]:after, persName[full]:after, persName[sort]:after, persName[type]:after, persName[subtype]:after, persName[facs]:after{
    background-color:#FAFA93;
    content:
		oxy_concat("invalide Attribute: ",
		    oxy_xpath("if(./@n) then ' n' else none"),
			oxy_xpath("if(./@calendar) then ' calendar' else none"),
			oxy_xpath("if(./@period) then ' period' else none"),
			oxy_xpath("if(./@evidence) then ' evidence' else none"),
			oxy_xpath("if(./@source) then ' source' else none"),
			oxy_xpath("if(./@instant) then ' instant' else none"),
			oxy_xpath("if(./@full) then ' full' else none"),
			oxy_xpath("if(./@sort) then ' sort' else none"),
			oxy_xpath("if(./@type) then ' type' else none"),
			oxy_xpath("if(./@subtype) then ' subtype' else none"),
			oxy_xpath("if(./@facs) then ' facs' else none")
			  );
}

placeName[calendar]:after, placeName[period]:after, placeName[evidence]:after, placeName[source]:after, placeName[instant]:after, placeName[n]:after, placeName[role]:after, placeName[nymRef]:after, placeName[type]:after, placeName[subtype]:after, placeName[facs]:after{
    background-color:#FAFA93;
    content:
		oxy_concat("invalide Attribute: ",
			oxy_xpath("if(./@calendar) then ' calendar' else none"),
			oxy_xpath("if(./@period) then ' period' else none"),
			oxy_xpath("if(./@evidence) then ' evidence' else none"),
			oxy_xpath("if(./@source) then ' source' else none"),
			oxy_xpath("if(./@instant) then ' instant' else none"),
		    oxy_xpath("if(./@n) then ' n' else none"),
			oxy_xpath("if(./@role) then ' role' else none"),
			oxy_xpath("if(./@nymRef) then ' nymRef' else none"),
			oxy_xpath("if(./@type) then ' type' else none"),
			oxy_xpath("if(./@subtype) then ' subtype' else none"),
			oxy_xpath("if(./@facs) then ' facs' else none")
			  );
}

/* Other Visualisations*/