/*
 * Overrides all stylesheet informations of tei-elements used in dta base schema
 * marks elements of dta - level 0 (minimum level) yellow
 * marks elements of dta - level 1 (less level) light #EFFFEF !important !important
 * marks elements of dta - levle 2 (optimum level) #E6F9FA !important
 * marks elements of header			(optimum level) #E6F9FA !important
 * marks elements of dta - level 3 (overweighted level) #F8F1FB !important !important
 */

@import url("../../tei/xml/tei/css/tei_oxygen.css");

@namespace oxy url('http://www.oxygenxml.com/extensions/author');

/*  orange background by default     */

* {
    background-color:#EFFFEF !important;
}

TEI * {
    background-color:#FFAA55 !important;
    color:black;
    font-family:Junicode, serif;
}

/*  layout options     */

/* hide comments */
oxy|comment:before {
	content:'Kommentar: ';
}
oxy|comment {
	display:inline !important;
	color:grey !important;
	background-color:#F7F8E0 !important;
	font-size:0.7em;
}

/*  rendition value visualisation	*/
*[rendition~="#aq"]{
	/*Antiqua*/
	font-family:Arial, sans-serif;
}
*[rendition~="#b"] {
	/*Fettdruck*/
	font-weight:bold;
}
*[rendition~="#c"]{
	/*zentrierter Text*/
	display:block; 
	text-align:center;
}
*[rendition~="#blue"]{
	/*blaue Einfaerbung*/
	color:blue;
}
*[rendition~="#blue"] *{
	/*blaue Einfaerbung fuer Unterlemente*/
	color:blue;
}
*[rendition~="#et"]{
	/*eingerueckter Text*/
	display:block; 
	margin-left:2em; 
	text-indent:0;
}
*[rendition~="#fr"]{
	/*Frakturwechsel*/
	font-weight:100;
	font-size:larger;
}
*[rendition~="#g"]{
	/*Sperrdruck*/
	border:1px dashed black;
}
*[rendition~="#i"]{
	/*Kursivdruck*/
	font-style:italic;
}
*[rendition~="#in"]{
	/*Initiale*/
	font-size:150%;
}
*[rendition~="#k"]{
	/*Kapitaelchen*/
	border:1px solid black;
}
*[rendition~="#red"]{
	/*rote Einfaerbung*/
	color:#F60535;
}
*[rendition~="#red"] *{
	/*rote Einfaerbung fuer Unterlemente*/
	color:#F60535;
}
*[rendition~="#right"]{
	/*Rechtsbuendigkeit*/
	display:block; 
	text-align:right;
}
*[rendition~="#sub"]{
	/*Tiefstellung*/
	vertical-align:sub; 
	font-size:.8em;
}
*[rendition~="#sup"]{
	/*Hochstellung*/
	vertical-align:super; 
	font-size:.8em;
}
*[rendition~="#u"]{
	/*gedruckte Unterstreichung*/
	text-decoration:underline;
}
*[rendition~="#uu"]{
	/*doppelte Unterstreichung*/
	text-decoration:underline;
}
*[rendition~="#s"]{
	/*doppelte Unterstreichung*/
	text-decoration:line-through;
}


/*  level 0 (minimum level)    */

TEI {
    background-color:#EFFFEF !important;
}

/*  level 1     - Elements, that have to be considered to fullfill the DTA ›base format‹. These elements are used consequently in the DTA core corpus.    */

actor  {
    background-color:#EFFFEF !important;
}
back  {
    background-color:#EFFFEF !important;
}
body  {
    background-color:#EFFFEF !important;
}
castGroup  {
    background-color:#EFFFEF !important;
}
castItem  {
    background-color:#EFFFEF !important;
}
cb  {
    background-color:#EFFFEF !important;
    text-align:center;
    font-size:.9em;
	display:block;
	border:none;
	border-top:5px dotted #FFFFEE;
	height:10px;
}
cb:after {
	content:'Spaltenumbruch';
	color:silver;
}
cb[n]:after {
	content:'Spalte 'attr(n);
	color:silver;
}
cb[type="start"]:after{
	content:'Spalte 'attr(n)' (Beginn des Spaltensatzes)\A';
	color:silver;
}
cb[type="end"]:after{
	content:'Spalte 'attr(n)' (Ende des Spaltensatzes)\A';
	color:silver;
}
cell  {
    background-color:#EFFFEF !important;
    -oxy-placeholder-content:"Tabelle";
}
castList {
    background-color:#EFFFEF !important;
}
div {
    background-color:#EFFFEF !important;
}
figure {	
	display:inline;
	border-width:1mm;
	border-style:double;
	border-color:black;
	background-color:#EFFFEF !important;
	-oxy-placeholder-content:"Illustration";
}
figure[type="notatedMusic"] {
    display:inline;
	border-width:1mm;
	border-style:double;
	border-color:black;
	background-color:#EFFFEF !important;
	-oxy-placeholder-content:"Musik";
}
formula  {
    display:inline;
	border-width:1mm;
	border-style:double;
	border-color:black;
    background-color:#EFFFEF !important;
	-oxy-placeholder-content:"Formel";
}
front  {
    background-color:#EFFFEF !important;
}
gap {
    background-color:#EFFFEF !important;
}
div > head,
body > div > head,
body > div > div > head,
body > div > div > div > head,
body > div > div > div > div > head {
    background-color:#EFFFEF !important;
    color:black;
    border-bottom:none;
    font-size:large;
    display:inline;
    -oxy-placeholder-content:"Titel";
}

head:before{
	content:"" !important;
}

head {
    background-color:#EFFFEF !important;
	-oxy-placeholder-content:"Titel";
}
item  {
	display:inline;
    background-color:#EFFFEF !important;
    -oxy-placeholder-content:"Liste";
}

l {
	display:inline;
    background-color:#EFFFEF !important;
}
head + lb  {
	display:inline;
    background-color:#EFFFEF !important;
    font-family:'Arial Unicode MS', 'DejaVu', serif;
    content:'↲';
    font-size:large;
    padding-top: 12px;
    padding-bottom: 10px;
    margin-bottom: 0.5em;
    margin-top: 1em;
}
lb  {
	display:inline;
    background-color:#EFFFEF !important;
    font-family:'Arial Unicode MS', 'DejaVu', serif;
    content:'↲';
}
lb:after {
	content:"\A ";
}
lg {
    background-color:#EFFFEF !important;
}
list  {
    display:inline;
    background-color:#EFFFEF !important;
}
note {
	display:inline;
    background-color:#EFFFEF !important;
}
note[place="end"] {
	display:block;
}
p {
	display:inline;
    background-color:#EFFFEF !important;
}
pb {
	text-align:center;
	display:block;
	border:none;
	border-top:5px dotted #FFFFEE;
	height:10px;
	font-size:.9em;
	background-color:#EFFFEF !important;
}
pb[facs]:after {
	content:'('attr(facs)')\A';
	color:silver;
	font-weight:normal;
}
pb[n]:after {
	content:'Seite 'attr(n)' ('attr(facs)')\A';
	color:silver;
	font-weight:normal;
}
row  {
    background-color:#EFFFEF !important;
}
sp  {
    background-color:#EFFFEF !important;
}
speaker  {
    background-color:#EFFFEF !important;
}
stage {
    background-color:#EFFFEF !important;
}
supplied {
    background-color:#EFFFEF !important;
}
table  {
    background-color:#EFFFEF !important;
}
text  {
    background-color:#EFFFEF !important;
}
titlePage {
    background-color:#EFFFEF !important;
}
titlePart {
    background-color:#EFFFEF !important;
}


/*  level 2     - Elements, which are recommended by the DTA ›base format‹, but may be left out in text annotation. These elements are used in all texts of the DTA core corpus.    */

argument  {
    background-color:#E6F9FA !important;
}
argument > bibl, body > bibl, cit > bibl, div > bibl, div0 > bibl, div1 > bibl, div2 > bibl, div3 > bibl, div4 > bibl, div5 > bibl, div6 > bibl, div7 > bibl, epigraph > bibl, listBibl > bibl > bibl, taxonomy > bibl {
    display:inline;
}
bibl  {
	content:"";
    background-color:#E6F9FA !important;
    display:inline;
}
byline  {
    background-color:#E6F9FA !important;
}
cit {
    background-color:#E6F9FA !important;
}
closer {
    background-color:#E6F9FA !important;
}
dateline {
    background-color:#E6F9FA !important;
}
docAuthor  {
    background-color:#E6F9FA !important;
}
docDate {
    background-color:#E6F9FA !important;
}
docEdition {
    background-color:#E6F9FA !important;
}
docImprint {
    background-color:#E6F9FA !important;
}
docTitle  {
    background-color:#E6F9FA !important;
}
epigraph {
    background-color:#E6F9FA !important;
}
floatingText  {
    background-color:#E6F9FA !important;
}
fw  {
    background-color:#E6F9FA !important;
}
hi  {
    background-color:#E6F9FA !important;
}
imprimatur  {
    background-color:#E6F9FA !important;
}
lb {
    background-color:#E6F9FA !important;
}
milestone[rendition="#hrRed"] {
	/* milestone ist not displayed in tei */
	display:inline;
	font-style:italic;
    background-color:#E6F9FA !important;
	content:"- - - - - - - - - - - - - - - - -";
	color:#F60535;
}
milestone[rendition="#hrBlue"] {
	/* milestone ist not displayed in tei */
	display:inline;
	font-style:italic;
    background-color:#E6F9FA !important;
	content:"- - - - - - - - - - - - - - - - -";
	color:blue;
}
milestone  {
	/* milestone ist not displayed in tei */
	display:inline;
	font-style:italic;
    background-color:#E6F9FA !important;
	content:"- - - - - - - - - - - - - - - - -";
}
opener {
    background-color:#E6F9FA !important;
}
postscript {
    background-color:#E6F9FA !important;
}
publisher {
    background-color:#E6F9FA !important;
}
pubPlace {
    background-color:#E6F9FA !important;
}
quote {
    background-color:#E6F9FA !important;
    display:inline;
}
role 	{
    background-color:#E6F9FA !important;
}
roleDesc  {
    background-color:#E6F9FA !important;
}
salute {
    background-color:#E6F9FA !important;
}
signed {
    background-color:#E6F9FA !important;
}
space  {
    background-color:#E6F9FA !important;
}
trailer {
    background-color:#E6F9FA !important;
}

/*  level 3     - Elements, which are part of the DTA ›base format‹, but are not used consequently throughout the DTA core corpus. The usage of these elements is optional.    */


choice {
    background-color:#F8F1FB !important;
}
abbr {
    background-color:#F8F1FB !important;
}
expan {
    background-color:#F8F1FB !important;
    -oxy-placeholder-content:"Expansion";
    color:black;
    font-style:italic;
}
sic {
    background-color:#F8F1FB !important;
    /*color:#DC8A57;*/
}

sic:after {
   content:"(sic!)";
   font-style:italic;
}
corr  {
    background-color:#F8F1FB !important;
    color:green;
    font-style:italic;
    -oxy-placeholder-content:"Korrektur";
}
orig  {
    background-color:#F8F1FB !important;
}
reg {
    background-color:#F8F1FB !important;
    -oxy-placeholder-content:"Normalisierung";
}
date {
    background-color:#F5E8FA !important;
}
foreign {
    background-color:#F5E8FA !important;
}
listBibl {
    background-color:#F5E8FA !important;
}
name  {
    background-color:#F5E8FA !important;
}
orgName {
    background-color:#F5E8FA !important;
}
persName  {
    background-color:#F5E8FA !important;
}
placeName {
    background-color:#F5E8FA !important;
}
ref  {
    background-color:#F5E8FA !important;
}
teiHeader p{
	background-color:#E6F9FA !important;
}
teiHeader publicationStmt{
    background-color:#E6F9FA !important;
}
teiHeader sourceDesc{
    background-color:#E6F9FA !important;
}
teiHeader fileDesc{
    background-color:#E6F9FA !important;
}
teiHeader{
    background-color:#E6F9FA !important;
}
teiHeader titleStmt{
    background-color:#E6F9FA !important;
}
teiHeader title{
    background-color:#E6F9FA !important;
}

/* Other Visualisations*/

/*  special character displaying	 */

oxy|entity {
    background-color: inherit !important;
    margin:0px !important;
    padding: 0px !important;
    -oxy-display-tags:none;
}
