/*
 * ==============================================
 * Skin for oXygen generated WebHelp.
 * ==============================================
 */


/*
 * ------------------------------------------------------------------
 *  
 * Fonts.
 *  
 */
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700,300");

html, body {
    min-width:100%;
}

body{
    font-family: 'Roboto', sans-serif;
}


    /*
     * ------------------------------------------------------------------
     *
     * Fight with bootstrap
     *
     */
.navbar-brand{
    height:auto;
}
.navbar {
    border:none;
    border-radius:0;
    margin:0;
    padding-bottom:0;
}
.wh_header{
    /*background: #A0522D;*/
    background: rgb(107, 99, 90);
    color: #ffffff;
    
}

/*
 * ------------------------------------------------------------------
 *  
 * Publication titles
 *  
 */
 .wh_publication_title > a{
     color:#fff;
}



/*
 * ------------------------------------------------------------------
 *  
 * Menu
 *  
 */
.wh_top_menu {
    text-transform: uppercase;
    /*margin: .9em 0;*/
    font-size: 0.9em;
    /*padding-top: 1.7em;*/
}

.wh_top_menu a{
    color: #fff;
    line-height: 2em;
}

.wh_logo {
    padding-top: 0.3em;
}
.wh_logo_and_publication_title {
    padding-bottom: 2px;
}

/* The submenus */
.wh_top_menu ul ul {
    /*background-color: #333;*/
    background-color: rgb(101,92,84);
}
.wh_top_menu ul li:hover {
    /*background-color: #333;*/
    background-color: rgb(101,92,84);
}
.wh_top_menu ul ul li a:hover {
    /*background: #000;*/
    background: rgb(101,92,84);
}
.wh_top_menu ul ul li {
    border-top-color: rgb(136,126,115);
    width: 270px;
    text-transform: none;
}
.wh_top_menu ul ul li.has-children:after{
}

/*
 * ------------------------------------------------------------------
 *  
 * Link to the index.
 * 
 */
 .wh_indexterms_link a span{
    display:none;
}
.wh_indexterms_link a:before{
    padding-bottom: .6em;
    color:#fff;
}


/*
 * ------------------------------------------------------------------
 *  
 * Breadcrumb
 *  
 */
.wh_breadcrumb ol {
    color: #878787;
    font-family: "Trebuchet MS","Lucida Grande",Verdana,"Hiragino Kaku Gothic ProN","Hiragino Kaku Gothic Pro",Meiryo,sans-serif;
    font-size: 15px;
}
.wh_breadcrumb ol a {
    color:inherit;
}
.wh_breadcrumb ol .active {
    color: #5185cb;
}


/*
 * ------------------------------------------------------------------
 *  
 * Tools and navigation
 * 
 */
.wh_tools{
    /*background-color: #ECF2F9;*/
    margin: 1em 0 2em;
    background-color: #f2f2f2;
}

.wh_print_link,
.wh_navigation_links,
.wh_navigation_links .navnext,
.wh_navigation_links .navprev{
}


.wh_print_link a,
.wh_navigation_links a,
.wh_navigation_links a:hover,
.wh_navigation_links a:active,
.wh_navigation_links a:visited,
.wh_print_link a:before,
.wh_navigation_links a:before,
.wh_navigation_links a:hover:before,
.wh_navigation_links a:active:before,
.wh_navigation_links a:visited:before{
    color: #347bb7;
    text-decoration: none;
}


/*
 * ------------------------------------------------------------------
 *  
 * Tiles
 * 
 */
.wh_tile > div{
    margin: 1em;
    padding: 1em;
    /*background-color: #EFEFEF;*/
     /*background-color: #f3ead8;*/
     background-color: #f9f5eb;
    height:190px;
    font-weight: 300;
}
.wh_tile_shortdesc{
    margin-top:1em;
    text-align: center;
    /*color: #0D1A2B;*/
    color: #827B66;
    font-size:1.1em;
}
/*.wh_tile_text:after{
    background: linear-gradient(to bottom, rgba(239, 239, 239, 0), rgba(239, 239, 239, 1) 75%);
}*/
.wh_tile_title{
    font-size:1.7em;
    text-align: center;
    text-decoration: none;
}
.wh_tile_title a{
    /*color: #3077be;*/
    /*color: #827B66;*/
    color: #474438;
    line-height:1.3em
}
@media only screen and (max-width: 767px) {
    .wh_tile > div {
        height: auto;
        
        
    }
}

/* 
You can style some of the tiles in a special way. 
Example:
.wh_tiles *[data-id='getting_started']{
    background-color:gray;
}
*/


/*
 * ------------------------------------------------------------------
 *  
 * Search area
 * 
 */
.wh_search_input{
    display:block;
    margin:0;
    position:relative;
    padding: 40px 0;
    background-color: rgb(225,203,157)
}

.wh_welcome:not(:empty){
    font-size: 3em;
    margin: 0 auto;
    font-family: 'Roboto Thin', sans-serif;
    padding: 0 0 0.5em 0;
    text-shadow: none;
    color: #827B66;
    font-variant: small-caps;
}

.wh_main_page .wh_search_input{
    padding: 50px 0;
    background-color: rgb(225,203,157);
}

.wh_search_input a {
   /*color: #7d7368;*/
   color: #827B66;
}
.wh_search_textfield{
    border: solid 1px #d5b776;
    border-radius: 5px;
    padding: 0 .5em;
    position: relative;
    height: 2.8em;
}
.wh_search_button{
    border: solid 1px #d5b776;
    border-radius: 0 5px 5px 0;
    padding: 0 .5em;
    color:#fff;
    background-color: rgb(205,150,75);
    height: 2.8em;
}

/*@media only screen and (max-width: 999px) {*/
    /*.wh_search_input:after{*/
        /*display:none;*/
    /*}*/

/*}*/
@media only screen and (max-width: 768px) {
    .wh_main_page .wh_search_input,
    .wh_search_input {
        padding: 3em 0;
    }
}


/*
 * ------------------------------------------------------------------
 *  
 * Side TOC
 * 
 */
.wh_side_toc{
    border-radius: 3px;
    padding: 1em;
    background-color: #f8f8f8;
    font-family: "Trebuchet MS","Lucida Grande",Verdana,"Hiragino Kaku Gothic ProN","Hiragino Kaku Gothic Pro",Meiryo,sans-serif;
}
/*.wh_side_toc .active {
    color: #5185cb;
}*/
.wh_side_toc a, .wh_side_toc a:visited, .wh_side_toc a:hover {
    color: #878787;
}
.wh_side_toc a:hover {
    text-decoration: none;
    background-color: #E6E6E6;
}

.wh_side_toc  ul  li{
    margin: .7em 0;
}
.wh_side_toc > ul > li > span{
    font-size: 1.2em;
}

@media only screen and (max-width: 767px) {
    .wh_side_toc {
        border-radius: 0;
        padding: 1em 0.5em;
        margin-top: 10px;
        border: 1px solid #e0e0e0; 
        }
    }
    
    .related-links {
        /*border: 1px solid #e0e0e0;*/
        margin-right: 0.5em;
    }
.wh_side_toc > ul > li > ul > li > span {
    font-size: 1.1em;
}
/*
 * ------------------------------------------------------------------
 *
 * Footer
 * 
 */
.wh_footer{
    text-align: center;
    padding-top: 0.5em;
    position:relative;
    bottom: 0;
    width: 100%;
    color: #71675A;
    /*background: rgb(225,222,215);*/
    /*background: rgb(225,218,205);*/
    background: #F5EFE5;
    margin-top: 2em;
}

.wh_footer a{
    color: #CCE2F1;
    padding: 0em;
}
.footer-container {
    text-align: left;
    color: #827B66;
}
.footer-container a {
    color: inherit;
    text-decoration: underline;
    
}
/*
 * ------------------------------------------------------------------
 *  
 * Topic content
 * 
 */
@media only screen and (min-width: 768px) {
    .wh_topic_content, .wh_content_area{
        min-height:530px;
    }
}
 
.wh_topic_content,.wh_content_area {
    color: #000000;
}
.wh_main_page .wh_content_area {
    margin: 40px auto;
}
.wh_topic_content .title.topictitle1 {
    color: #827B66;
    font-size: 2em;
    margin-bottom: 1em;
}
.wh_topic_content .related-links{
    background-color: #F8F8F8;
    padding: 1.5em;
}
.wh_topic_content .related-links strong{
    font-weight: 500;
}
.wh_topic_content .related-links .olchildlinks,
.wh_topic_content .related-links .ullinks,
.wh_topic_content .related-links .relinfo{
    list-style: none;
    padding: 0;
    margin:0;
}
.wh_topic_content .related-links a,
.wh_topic_content .related-links a:visited {
    /*color: #5185cb;*/
    padding-bottom: .3em;
    display:inline-block;
    color: #878787;
  font-weight: 400;
  /*font-family: "Trebuchet MS","Lucida Grande",Verdana,"Hiragino Kaku Gothic ProN","Hiragino Kaku Gothic Pro",Meiryo,sans-serif;*/
  font-style: normal;
  font-size: 15px;
  text-align: left;
  /*text-decoration: underline;*/
  line-height: 18px;
  text-shadow: none;
  font-variant: normal;
}
.wh_topic_content .related-links li{
    color: #757575;
}
.related-links:before{
    content: 'Unterkapitel';
    font-size: 15px;
    color: #827B66;
    text-decoration: underline;
}


/*
 * ------------------------------------------------------------------
 *  
 * Search results.
 * 
 */
.searchresult {
    list-style-type: circle;
}
.searchresult li{
    padding: .5em;
}
.searchresult li a, 
.wh_search_expression{
    color:#827B66;
}
.searchresult .shortdesclink {
    margin: .3em .5em 0;
}
.wh_search_expression{
    font-weight:bold;
}
.wh_search_results {
    padding-top: 1em;
}
.wh_search_results p {
    font-size: 16px;
}


/*
 * ------------------------------------------------------------------
 *  
 * Index terms.
 * 
 */
.wh_index_terms span.wh_first_letter {
    color: #827B66;
}
.wh_index_terms #indexList{
    padding:0;
}



/*
 * ------------------------------------------------------------------
 *  
 * Tree TOC for the main page.
 * 
 */
.wh_main_page_toc{
}


.wh_main_page_toc .expanded, .wh_main_page_toc .wh_main_page_toc_accordion_header:hover, .wh_main_page_toc>.wh_main_page_toc_entry:hover, .wh_main_page_toc_accordion_entries{
    background-color: #F2F8FF;
}
.codeph {
    color: #827B66;
    background-color: inherit;
    font-size: inherit;
}
li.active > .topicref {
    color: #877767;
    font-family: "Trebuchet MS","Lucida Grande",Verdana,"Hiragino Kaku Gothic ProN","Hiragino Kaku Gothic Pro",Meiryo,sans-serif;
}
.wh_side_toc li.active > .topicref {
    background-color: #e6e6e6;
}
.wh_main_page #searchForm {
  margin-bottom: 3em; 
}
.wh_search_input > p {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 60%;
  color: rgb(107, 99, 90);
  font-size: 18px;
}
.mainbooktitle {
  display: none;
}

.example>.title {
    color: #827B66;
    font-weight: normal;
    padding-bottom: 5px;
}
.example>.title:before {
  content: "Example: ";
}
.fig p {
  font-size: 12px;
}
.fig a {
  font-size: 12px;
}
div.example {
  box-shadow: 3px 3px 3px grey;
  padding-bottom: 10px;
  border-top-width: 0.5px;
  border-top-style: solid;
  border-top-color: silver;
  border-right-width: 0.5px;
  border-right-style: solid;
  border-right-color: silver;
  border-bottom-width: 0.5px;
  border-bottom-style: solid;
  border-bottom-color: silver;
  border-left-width: 0.5px;
  border-left-style: solid;
  border-left-color: silver;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 2em;
}
p.space {
    padding-top: 10px;
}
/*ab hier*/
li.li {
/*font-size: 15px;*/
font-size: inherit;
font-weight: 400;
/*font-family: "Trebuchet MS", "Lucida Grande", Verdana, "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", Meiryo, sans-serif;*/
font-family: inherit;
font-style: normal;
line-height: 18px;
color: rgb(50, 50, 50);
padding-bottom: 10px;
}
ul > li > ul {
    padding-top: 10px;
}
ul.ul {
    padding-left: 10px;
    padding-top: 10px;
}
.body ul > li {
    font-family: inherit;
    font-size: inherit;
}
.section {
    padding-top: 5px;
}
.lines {
    padding-bottom: 0px;
}
dt.dt {
padding-bottom: 3px;
}
dd.dd {
padding-bottom: 8px;
}
.caution {
    font-size: 15px;
    margin-top: 0em;
    margin-bottom: 1em;
font-weight: 400;
font-family: "Trebuchet MS", "Lucida Grande", Verdana, "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", Meiryo, sans-serif;
font-style: normal;
line-height: 18px;
color: rgb(50, 50, 50);
padding-bottom: 10px;
background-color: rgb(245,230,229);
padding-left: 1em;
}
.cautiontitle {
    margin-top: 2em;
    color: rgba(159, 8, 2, 0.8);
    background-color: rgb(245,230,229);
}
h2.sectiontitle {
    padding-bottom: 5px;
    color: #827B66;
}
.relinfo {
    background-color: #e7e4e4;
    font-size: 15px;
    font-weight: normal;
font-family: "Trebuchet MS", "Lucida Grande", Verdana, "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", Meiryo, sans-serif;
line-height: 26px;
padding-left: 3px;
padding-top: 3px;
padding-bottom: 3px
}
.dt, .dd, .dlterm {
    font-family: "Trebuchet MS", "Lucida Grande", Verdana, "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", Meiryo, sans-serif;
}
p.sg {
    font-size: smaller;
    color: grey;
    padding-left: 4px;
}
p.sg > a {
    font-size: smaller;
    color: grey;
}
p.sg > a.xref:visited {
    color: grey;
}
table {
    padding-top: 5px;
    margin-top: 5px;
    border: 1px solid black;    
}

td.entry, th.entry {
    border: 1px solid black;
}

.image {
    padding-bottom: 5px;
    padding-top: 5px;
    max-width: 100% !important;
    width: auto !important;
    height: auto !important;
}
.body a{
  /*color: rgb(49, 49, 58);*/
  color: #827B66;
  font-weight: 400;
  /*font-family: "Trebuchet MS","Lucida Grande",Verdana,"Hiragino Kaku Gothic ProN","Hiragino Kaku Gothic Pro",Meiryo,sans-serif;*/
  font-style: normal;
  font-size: inherit;
  text-align: left;
  /*text-decoration: underline;*/
  line-height: 18px;
  text-shadow: none;
  font-variant: normal;
}

.body a:hover{
  background-color: #E6E6E6;
  text-decoration: none;
}
.example a {
    font-size: inherit;
}
pre.codeblock {
    margin-right: 0.7em;
    /*font-size: 14px;*/
    padding-right: 0.3em;
}
.caution {
    padding: 0.3em;
    font-size: inherit;
}
.no-highlighting {
  text-decoration: none;
}
.abstract {
    display: none;
}

/*a:visited {
  color: rgb(109, 109, 109);
}*/
/**
 *
 * Styles used for RTL pages
 *
 */
html[dir='rtl'] .wh_top_menu ul li:hover > ul {
    max-width: 270px;
}